.navbar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #1d1e44; }
  .navbar .rental-search {
    height: 45px;
    width: 300px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: #ed3f00 !important;
    font-weight: 500; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .btn-rental-search {
    border-color: #ed3f00;
    color: #ed3f00; }
    .navbar .btn-rental-search:hover, .navbar .btn-rental-search:focus, .navbar .btn-rental-search:active {
      background-color: transparent !important;
      border-color: #ed3f00 !important;
      color: #ed3f00 !important;
      box-shadow: none; }
  .navbar .nav-item {
    color: #ededed; }

#rentalListing {
  /* SINGLE CARD STYLES*/ }
  #rentalListing .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  #rentalListing .bwm-card {
    border: none; }
    #rentalListing .bwm-card .card-block {
      padding-top: 8px; }
      #rentalListing .bwm-card .card-block .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #16861a; }
      #rentalListing .bwm-card .card-block .card-title {
        font-size: 19px;
        margin: 3px 0; }
      #rentalListing .bwm-card .card-block .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0; }
